<div class="navigation">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
      <img src="assets/Doosan_MLB.jpg" width="170" height="48">
    </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/']"><h5 id="navItem">HOME</h5></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" [routerLink]="['/contact']"><h5 id="navItem">CONTACT</h5></a>
          </li>
        </ul>
      </div>
    </nav>
</div>