<div id="video-container">
  <div class="mainVideoWrap">
    <video src="./assets/Video1.mov" autoplay=true loop=true></video>
  </div>
  <div class="overlay"></div>
  <div class="cover-content">
    <section><p>BUILD YOUR TOMORROW <span>TODAY</span></p></section>
    <button class="btn btn-primary">WATCH VIDEO</button>
  </div>
</div>
<div class="row artical-content">
    <div class="artical-column">
        <h2>Lorem tab</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
      </div>
      <div class="artical-column">
        <h2>Lorem tab</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
      </div>
      <div class="artical-column">
        <h2>Lorem tab</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
      </div>
</div>

