<footer>
  <div class="container">
    <nav>
      <a href="https://www.youtube.com/Doosan" target="_blank" class="btn_youtube" title="Site Link (View a new window)">YOUTUBE</a>
      <a href="http://www.doosan.com/rss_en.php" class="btn_rss" title="RSS">RSS</a>
      <ul>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>|</li>
        <li>
          <a href="#">Legal Notice</a>
        </li>
        <li>|</li>
        <li>
          <a href="#">Terms of Use</a>
        </li>
        <li>|</li>
        <li>
          <a href="#">Privacy and information Processing Policy, etc.</a>
        </li>
      </ul>  
      <section>
        <p>Major League Baseball trademarks and copyrights are used with permission of MLB Advanced Media, L.P. All rights reserved.</p>
      </section>
    </nav>
  </div> 
</footer>